.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
}

.container * + * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.voteLog {
    background-color: #a9a9a9;
    padding: 0.5rem;
}
