MNEMONIC="here is where your twelve words mnemonic should be put my friend"
PRIVATE_KEY="<your private key here if you don't have a mnemonic seed>"
INFURA_API_KEY="********************************"
INFURA_API_SECRET="********************************"
ALCHEMY_API_KEY="********************************"
ETHERSCAN_API_KEY="********************************"
MY_TOKEN_CONTRACT_ADDRESS="0xbBAfa95dF21F2AD94f65A71DF988a4284E5E08dD"
TOKENIZED_BALLOT_CONTRACT_ADDRESS="*********************"